* {
  box-sizing: border-box;
  border: 1px dashed red;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: grid;
  grid-template-columns: auto;
}

#main-container {
  height: 100%;
  width: 100%;
  max-width: 1400px;
  display: grid;
  grid-template-rows: 1fr 9fr;
  justify-self: center;
}

#header {
  grid-row: 1/2;
  display: flex;
  margin: 0;
  justify-content: space-between;
  background-color: #0d243f;
}

#main-content {
  grid-row: 2/3;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main-title {
  margin-left: 20px;
  color: white;
}

.btn {
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  background-color: darkgreen;
  height: 40px;
  width: 130px;
  font-weight: 500;
  margin-right: 20px;
  align-self: center;
}

#empty-library {
  text-align: center;
}

.book-card {
  display: flex;
  justify-items: space-between;
  margin: 20px;
  border: 2px solid #0d243f;
  border-radius: 20px;
  background-color: #9fb2c6;
  color: black;
}

/*-------------Modal-------------*/
#modal {
  padding: 0;
  border: 1px solid #0d243f;
  border-radius: 10px;
}

#modal::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-header {
  grid-row: 1/2;
  width: 100%;
  background-color: #0d243f;
  text-align: center;
  color: white;
}

#modal-body {
  grid-row: 2/3;
  display: grid;
  grid-template-rows: autofit(1fr);
  justify-content: space-around;
  align-content: center;
  gap: 10px;
  color: black;
  background-color: #9fb2c6;
  padding: 10px;
}

.modal-input {
  align-self: center;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: solid 2px black;
  color: black;
  outline: none;
  padding: 5px;
}

#bookName {
  margin-top: 30px;
}

#required-inputs {
  color: darkred;
  font-size: 12px;
}

#modal-btn {
  margin: 0;
  justify-self: center;
}
